<%- layout('boilerplate/boilerplate') %>
    <div class="container">
        <h1 class="display-3">
            <center>About Us</center>
        </h1>
    </div>
    <div class="pic container pt-4">
        <div class="main1 card mb-3 rounded-5" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="yash.jpg" class="img-fluid rounded-start-5" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Yash Phatak</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main2 card mb-3 rounded-5" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Darsh Kejriwal</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="darsh.jpg" class="img-fluid rounded-end-5" alt="...">
                </div>
            </div>
        </div>
        <div class="main3 card mb-3 rounded-5" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="aditya.jpg" class="img-fluid rounded-start-5" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Aditya Gautam</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="main4 card mb-3 rounded-5" style="max-width: 540px;">
            <div class="row g-0">
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Sarthak Sharma</h5>
                        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="sarthak.jpg" class="img-fluid rounded-end-5" alt="...">
                </div>
            </div>
        </div>
    </div>